.container {
  margin-top: 50px;
}
span {
  cursor: pointer;
}
 .afterRegistration {
   width:100vw;
   height:100vh;
   position: fixed;
   top:0;
   left:0;
   background-color: rgba(256,256,256,0.4);
 }
.modalWindow{
  position: absolute;
  top: 0;
  left:0;
  width: 30vw;
  height: 30vh;
  text-align: center;
  background-color: white;
  border: 2px solid grey;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 2px;
  overflow: hidden;
}
.afterRegistration  div p{
 display: block;
  margin: auto;

}
