<div class="container">

  <div class="row ">
    <div class="col-xs-12 col-sm-10">
      <form name="form" (ngSubmit)="onSignUp(f)" #f="ngForm" novalidate>
        <div class="input-group mb-1">
          <input type="text" class="form-control"
                 ngModel
                 placeholder="Your Email"
                 name="mail"
                 #mail="ngModel"
                 required
                 minlength="4"
                 email
                 [ngClass]="{ 'is-invalid': f.submitted && mail.invalid }"
          >
          <div class="input-group-append">
            <span class="input-group-text">@example.com</span>
          </div>
        </div>
        <div *ngIf="mail.invalid && (mail.dirty || mail.touched)"
             class="mb-3">

          <div *ngIf="mail.errors.required" class="small text-white ">
            Mail is required.
          </div>
          <div *ngIf="mail.errors.minlength" class="small text-white">
            email must be at least 4 characters long.
          </div>
        </div>

        <div class="form-group">
          <input type="password"
                 placeholder="Your Password"
                 class="form-control"
                 name="password"
                 ngModel
                 #password="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                 required
                 minlength="6"/>
          <div *ngIf="f.submitted && password.invalid " class="invalid-feedback col-12">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid && (f.dirty || f.touched)">Register</button>
      </form>

    </div>
  </div>
</div>
<div *ngIf="isRegistered" class=" afterRegistration">
</div>

<div class="modalWindow"
     [@appearState]="toAppear"
     (@appearState.done)="animationDone($event)">

  <p class="p-2 mt-5 text-success font-weight-bold  text-center border-0 text-uppercase">Success </p>
  <button class="btn btn-success mt-5" (click)="toLogin()" id="toLogin">Login?</button>
  <br>

  <button
    id="toRoot"
    class="btn btn-danger btn-sm  mt-5"
    data-toggle="tooltip"
    title="Exit!"
    (click)="toRoot()"
  >x
  </button>
</div>
