<div class="container">
  <form [formGroup] = "addressForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="col-3 ">
        <div class="form-group position-relative  text-center  mb-1">
          <label for="myPhone" class="text-uppercase small text-white">My phone</label>
          <div class="city">
            <input
              id="myPhone"
              type="tel"
              class="form-control   text-uppercase  text-center "
              formControlName = "phone"
              style="margin: auto"

            >
            <span
              *ngIf = "!addressForm.get('phone').valid && addressForm.get('phone').touched"
              class="help-block small text-white">Please enter a valid phone</span>
          </div>
        </div>
        <div class="form-group  position-relative  text-center ">
          <label for="myEmail" class="text-uppercase small text-white">My e-mail</label>
          <div class="city">
            <input
              id="myEmail"
              type="email"
              class="form-control  text-uppercase  text-center " style="margin: auto"
              formControlName = "mail"
            >
            <span
              *ngIf = "!addressForm.get('mail').valid && addressForm.get('mail').touched"
              class="help-block small text-white" >Please enter a valid mail</span>
          </div>
        </div>
      </div>


      <div class="col-10 d-flex flex-row  text-center justify-content-center text-white ">
        <p class="col-4 text-uppercase labels">city</p>
        <p class="col-4 text-uppercase labels">street</p>
        <p class="col-2 text-uppercase labels">house</p>
        <p class="col-2 text-uppercase labels"> </p>

      </div>
      <div class="col-10 text-white">
        <div formArrayName="addressList" >
          <div class="d-flex flex-row  text-center justify-content-center"
               *ngFor="let addressCtrl of addressForm.get('addressList')['controls']; let i = index"
               [formGroupName]='i'>
            <div class="form-group col-4">
              <input
                type="text"
                class="form-control border-light text-uppercase  text-center "
                style="margin: auto"
                formControlName="city"
              >
            </div>
            <div class="form-group col-4">
              <input
                type="text"
                class="form-control border-light text-uppercase   text-center"
                style="margin: auto"
                formControlName="street">
            </div>
            <div class="form-group col-2 position-relative ">
              <input
                type="text"
                class="form-control border-light  text-uppercase  text-center"
                style="margin: auto"
                formControlName="building">
            </div>
            <div class="form-group col-2 position-relative ">
              <button type="button"
                      class="addAddress text-white text-uppercase pl-2 pr-2"
                      (click)='onDeleteAddress(i)'
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Delete address"
                      *ngIf="mode == 'edit'"
              >Del
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-10  justify-content-center mt-2 d-flex flex-row">
        <p class="col-10"></p>
        <button type="button"
                class="addAddress text-white text-uppercase pl-2 pr-2 "
                *ngIf="arrayLength < 2 "
                data-toggle="tooltip"
                data-placement="right"
                title="Add address"
                (click)='onAddAddress()'
        >Add
        </button>
      </div>
    </div>

    <div class="col-12 text-center justify-content-center mt-2">
      <p
        *ngIf = "!addressForm.valid && addressForm.touched"
        class="help-block small text-white">Please enter a valid data</p>
      <button
        type = "submit"
        *ngIf = "mode == 'edit'"
        class="addAddress text-white text-uppercase  w-25 mr-2"
        [disabled] = "!addressForm.valid"


      >Save</button>
      <button type = "button"*ngIf = "mode == 'edit'" class="addAddress text-white text-uppercase bg-primary w-25 ml-2" (click) = 'onCancelInfo()'>Cancel</button>
    </div>

  </form>

</div>
